body {
  background-color: black;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

h1,
p {
  color: white;
}

hr {
  margin: 20px 0;
}

.jumbotron {
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 50px;
}

button {
  border-radius: 15px;
  border: none;
  background-color: blue;
  color: white;
  padding: 10px;
}